.book {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid rgb(255, 237, 237);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 5px;
    border-radius: 30px;
    background-color: rgb(240, 234, 225);
    
    width:auto;
    overflow: hidden; /* optional, hides anything that overflows the box */
}

.image{
    flex: 0 0 100px;
    margin-right: 10px;
}

.image img{
    width:auto;
    height: 150px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.book-info{
    flex: 1;
}

.name{
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}

.author{
    font-size: 20px;
    margin-top:5px;
    margin-bottom:5px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
}

.price{
    font-size: 18px;
    margin-top:5px;
    margin-bottom:5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

button{
    background-color: rgb(250, 176, 39);
    color: black;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 5px;
    border:3px solid rgb(255, 221, 67);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}